.listTrainerView {
  height: calc(100% - 56px);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.listTrainerView .sectionSeparatorComponent {
  font-size: 24px;
  padding: 30px 0px 0px 25px;
  align-self: flex-start;
}

.listTrainerView .checkbox {
  align-self: flex-end;
  margin: 10px 30px 0px 0px;
}

.listTrainerView .cardTrainers {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 40px;
}

.listTrainerView .cardTrainers .listitemComponent {
  width: auto;
  margin: 10px;
}

.pagination .paginator {
  left: 250px;
  background: var(--backgroundColor);
  position: fixed;
  width: calc(100% - 250px);
}

.pagination .viewPaginator .gridCardComponent {
  padding-bottom: 50px;
}

.gridContainerComponent .row .personCardComponent .content .body .title {
  text-align: initial;
}

.listTrainerView .cardComponent .card .content .title {
  text-align: left;
}

.listTrainerView .cardComponent .card .content .children {
  text-align: left;
  font-size: 16px !important;
  opacity: 0.7;
}

.gridContainerComponent .row .personCardComponent .body:hover {
  cursor: pointer;
}

.listTrainerView .pagination .viewPaginator .gridComponent .gridContainerComponent {
  margin-bottom: 20px;
}

.listTrainerView .pagination .viewPaginator .gridComponent {
  padding-bottom: 30px;
}