  .donutComponent .donut .donutPercentage {
    animation: fillCircle 1s reverse; 
    transform: rotate(-90deg);
    transform-origin: center;
    stroke: var(--primary-color);
  }

  .donutComponent .donut .donutAll {
    stroke: var(--bg-color-hue3);
  }

  @keyframes fillCircle {
    to { stroke-dasharray: 0 100 ; }
  }
  .donutComponent .donut {
    text-align: center;
  }
  .donutComponent {
    display: inline-block;
  }